<!DOCTYPE html>
<html>
<head>
  <title>Feathericon rails</title>
  <%= stylesheet_link_tag    "feathericon/rails/application", media: "all" %>
  <%= javascript_include_tag "feathericon/rails/application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

</body>
</html>
